/* body {
    background-color:white;
} */
header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  overflow: hidden;
  background-color: #000000;
  z-index: 2;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  border-radius: 10px;
  
}
.navbut {
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;

}

li a:hover {
  background-color: gray;
}
body{margin-top:20px;}

.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #ebf4fa;
}
/* Blog 
---------------------*/
.blog-grid {
  margin-top: 15px;
  margin-bottom: 15px;
}
.blog-grid .blog-img {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #3a3973;
  color: #ffffff;
  padding: 8px 15px;
  left: 0;
  top: 10px;
  font-size: 14px;
}
.blog-grid .blog-info {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  background: #ffffff;
  padding: 20px;
  margin: -30px 20px 0;
  position: relative;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #3a3973;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

.px-btn-arrow {
    padding: 0 50px 0 0;
    line-height: 20px;
    position: relative;
    display: inline-block;
    color: #fe4f6c;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
}


.px-btn-arrow .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
    -moz-transition: ease right 0.3s;
    -o-transition: ease right 0.3s;
    -webkit-transition: ease right 0.3s;
    transition: ease right 0.3s;
}

.px-btn-arrow .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Links inside the navbar */
.navbar1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 17px;
}

/* The dropdown container */
.dropdownabc {
  float: right;
  overflow: hidden;
  padding-top: 11px;

}

/* Dropdown button */
.dropdownabc .dropbtnabc {
  font-size: 17px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a gray background color to navbar links on hover */
.navbar1 a:hover, .dropdownabc:hover .dropbtn {
  background-color: gray;
  
  /* border-radius: 12px 16px; */

  
}

/* Dropdown content (hidden by default) */
.dropdown-contentabc {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contentabc a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-contentabc a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdownabc:hover .dropdown-contentabc {
  display: block;
}
.logoheader{
  height: 4em;
  width: 200px;
  /* bottom: 1em; */
  left: 20em;
}

