.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    background-color: #000000;
    z-index: 2;
  }
  body{
    background-color: #f1fcfc;
  }
  li {
    float: right;
  }
  .card{
    background-color: #f8fff8;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    border-radius: 10px;
    
  }
  .navbut {
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
  
  }
  
  li a:hover {
    background-color: gray;
  }
  .logoheader{
    height: 4em;
    width: 200px;
    /* bottom: 1em; */
    left: 20em;
  }
  /* Links inside the navbar */
  .navbar1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* The dropdown container */
  .dropdownabc {
    float: right;
    overflow: hidden;
    padding-top: 11px;
  
  }
  
  /* Dropdown button */
  .dropdownabc .dropbtnabc {
    font-size: 17px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a gray background color to navbar links on hover */
  .navbar1 a:hover, .dropdownabc:hover .dropbtn {
    background-color: gray;
    
    /* border-radius: 12px 16px; */
  
    
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-contentabc {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-contentabc a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-contentabc a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdownabc:hover .dropdown-contentabc {
    display: block;
  }